.adventure {
  position: relative;
  background-image: url('../../public/imgs/bg-adventure.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100% - 131px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}