.adventure {
  background-image: url('../public/imgs/bg-adventure.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}