.container {
  display: flex;
  background-image: url('../public/imgs/bg-blue-white.png');
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.content {
  width: 50%;
  padding: 2rem 24px;
  padding-bottom: 2rem;
}

.banner {
  padding: 2rem 0;
}

.banner > img {
  width: 92%;
  height: 92%;
}

@media (max-width: 600px) {
  .content {
    width: 100% !important;
  }

  .banner {
    background-image: url('../public/imgs/bg-blue.png') !important;
  }
}
